{% load activeurl %}

{% activeurl %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">GeoGIS Web</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Início</a></li>
                <li><a href="{% url 'webgis' %}">WebGIS</a></li>
                <li><a href="{% url 'search' %}">Pesquisar</a></li>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
{% endactiveurl %}